<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7580b9">  <td>22/02/01 08:22:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.validateIamInTheTable()[pri:1, instance:Academy.WebTableValidations@1d470d0]">validateIamInTheTable</td> 
  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>22/02/01 08:22:49</td>   <td>1965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.clickAddUser()[pri:2, instance:Academy.WebTableValidations@1d470d0]">clickAddUser</td> 
  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>22/02/01 08:22:49</td>   <td>2117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.AddUser()[pri:3, instance:Academy.WebTableValidations@1d470d0]">AddUser</td> 
  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>22/02/01 08:22:53</td>   <td>5451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.EnsureMyUsersAddedToList()[pri:4, instance:Academy.WebTableValidations@1d470d0]">EnsureMyUsersAddedToList</td> 
  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>22/02/01 08:22:41</td>   <td>-6067</td> <td>&nbsp;</td><td title="&gt;&gt;WebTableValidations.initialize()[pri:0, instance:Academy.WebTableValidations@1d470d0]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116511124</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>22/02/01 08:22:53</td>   <td>5694</td> <td>&nbsp;</td><td title="&lt;&lt;WebTableValidations.teardown()[pri:0, instance:Academy.WebTableValidations@1d470d0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116511124</td>   <td></td> </tr>
</table>
