<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2d983">  <td>22/02/01 07:05:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.AddUser()[pri:3, instance:Academy.WebTableValidations@2d1dee39]">AddUser</td> 
  <td>main@1053632127</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>22/02/01 07:05:49</td>   <td>-156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.clickAddUser()[pri:2, instance:Academy.WebTableValidations@2d1dee39]">clickAddUser</td> 
  <td>main@1053632127</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>22/02/01 07:05:47</td>   <td>-2112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.validateIamInTheTable()[pri:1, instance:Academy.WebTableValidations@2d1dee39]">validateIamInTheTable</td> 
  <td>main@1053632127</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>22/02/01 07:05:53</td>   <td>4355</td> <td>&nbsp;</td><td title="&lt;&lt;WebTableValidations.teardown()[pri:0, instance:Academy.WebTableValidations@2d1dee39]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053632127</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>22/02/01 07:05:53</td>   <td>4252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTableValidations.EnsureMyUsersAddedToList()[pri:4, instance:Academy.WebTableValidations@2d1dee39]">EnsureMyUsersAddedToList</td> 
  <td>main@1053632127</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>22/02/01 07:05:40</td>   <td>-8448</td> <td>&nbsp;</td><td title="&gt;&gt;WebTableValidations.initialize()[pri:0, instance:Academy.WebTableValidations@2d1dee39]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053632127</td>   <td></td> </tr>
</table>
